.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    background-color: #f5f7f9;
    flex: 1;
}
.subtitle {
    background-color: #fff;
    height: 5rem;
    line-height: 5rem;
    padding: 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    z-index: 10;
}
.subtitle > h1 {
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.square {
    width: 10rem;
    height: 10rem;
    background-color: #fff;
}
.card-wrapper {
    padding: 3rem;
}
.card-content {
    overflow: hidden;
    text-overflow: ellipsis;
}
.loading-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-container > span {
    font-size: 5rem;
    color: rgba(0, 0, 0, 0.65);
}
