.header-wrapper {
    display: flex;
    flex-direction: row;
    background-color: #222;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo {
    height: 65px;
}